# IDE / cache
.vs/
**/.vs/
**/.venv/
.venv/
*.ipch
*.suo
*.db
**/.venv/
# Build output
build/
output/
*_output/
Debug/
**/__pycache__/
x64/
x86/
图纸/
old/
dxf/
user/
# Documents / binaries
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.zip
*.exe
*.dxf
*.dwg
*.json
*.pkl
*.log
test_input/
chk/
2026.1-1/
2026.1-2/
ys/
XJH/
*.txt